@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  font-family: Arial, "맑은 고딕", sans-serif;
}
.top {
  width: 1025px;
  margin: 0 auto;
  color: rgb(139, 139, 139);
  position: relative;
}
.menu {
  width: 1025px;
  background: rgb(13, 42, 134);
  margin: 100px auto;
  height: 20px;
  padding: 20px 0;
}
.menu a {
  color: #fff;
  padding: 20px;
}
.menu a:hover {
  background: red;
}
.visual {
  width: 1025px;
  margin: 0 auto;
  top: 0;
  left: 0;
}

/* .visual img {
} */
.banner {
  width: 1025px;
  margin: 0 auto;
}
.banner > div {
  float: left;
  width: 60%;
}

.banner :left ul li {
  color: rgb(139, 139, 139);
}
