@charset "utf-8";

/* Micro clearfix hack:
http://nicolasgallagher.com/micro-clearfix-hack/ */
.c-clearfix:before,
.c-clearfix:after { content: " "; display: table; }
.c-clearfix:after { clear: both; }

/* font */
h1.h1_tit	{font-family:'맑은 고딕',sans-serif; font-size:36px; color:#2b3039; line-height:36px; letter-spacing:-1px;}
h2.h2_tit	{margin:40px 0 12px; padding-left:19px; background:url('https://stimg.emart.com/store/images/common/bul_circle_gray.png') no-repeat 0 5px; font-family:'맑은 고딕',sans-serif; font-size:17px; color:#1a1a1a; }
h2.h2_tit.no_bg	{padding-left:0; background:none;}
/* h2.h2_tit.bul_gray	{background:url('https://stimg.emart.com/store/images/common/bul_circle_gray.png') no-repeat 0 5px; } */
h2.h2_tit	.desc	{margin-left:5px; font-size:13px; color:#3d424d; font-weight:normal;}

.h2_desc .zero_mark {position:absolute; top:0; right:100px; width:91px; height:90px; background:url('https://stimg.emart.com/store/images/scc/bg_zero.png') 0 0 no-repeat;}
.h2_desc.srch > div:after {content:' '; display:block; clear:both; height:0; visibility:hidden;}
.h2_desc.srch > div .h2_tit {float:left; width:300px; }
.h2_desc.srch > div .srch_box {float:right; margin-top:30px; }

.fc_red {color:#CC2C00;}
.fc_blue {color:#0000cc;}
.fc_bgray {color:#3d424d;}
.fc_gray {color:#666;}

.f11 {font-size:11px; !important;}
.f13 {font-size:13px; !important;}
.f14 {font-size:14px; !important;}
.f15 {font-size:15px !important;}
.f17 {font-size:17px; !important;}

/* button 정렬 */
.btn_wrap {position:relative; margin-top:60px; text-align:center;}
.btn_wrap:after	{content:''; display:table; clear:both;}
.btn_wrap .pos_abs {left:0;}

/* 공통 ? */
.box_gray	 {border:1px solid #ededed; background:#fdfdfd;}
.complete_box	{padding:60px 0; border-top:2px solid #bec1cc; border-bottom:1px solid #999; background:#fafbfc; text-align:center;}
.complete_box	p	{font-size:18px; color:#666;}
.complete_box	p	strong	 {color:#1a1a1a;}
.complete_box	p	.fc_gray	{color:#666;}
.complete_box	p.txt	{margin-top:18px; font-size:13px; color:#3d424d; line-height:20px;}
.complete_box	.link_icon01	{line-height:16px;}

.bul_list	li	{margin-top:4px; padding-left:8px; background:url('https://stimg.emart.com/store/images/common/bul_dot_gray.png') no-repeat 0 6px; font-size:12px; color:#4c4c4c;}
.bul_list	li	span.list_desc {display:block; padding-top:4px; }
.bul_list	li:first-child	{margin-top:0;}
.bul_list	li	a	{margin-top:-4px;}
.bul_list.type02	li	{margin-top:2px; padding-left:18px; background:url('https://stimg.emart.com/store/images/common/bul_dot_gray02.png') no-repeat 6px 9px; line-height:22px; font-size:14px; color:#1a1a1a;}
.bul_list.type02	li:first-child	{margin-top:0;}
.bul_list.type02	li	.sub_txt {margin-top:2px; font-size:13px; color:#666;}
.bul_list.type02	li	.img_txt {position:absolute; top:0; right:108px; }

.note_desc {margin-top:40px; padding:19px 0; border-top:1px solid #d9d9d9; font-size:13px; color:#666;}
.note_desc li {padding:0 0 5px 3px;}
.note_txt {font-size:13px; color:#666;}

.h_notice	{position:absolute;top:-2000px;font-size:0;line-height:0;}

.t_under {text-decoration:underline !important;}

/* 레이어 박스 */
.layer_box	 {position:absolute; top:0; right:-95px; z-index:1; width:126px; padding:15px; border:2px solid #bec1cc !important; background:#fff !important; text-align:left;}
.layer_box	 .btn_close	{position:absolute; top:12px; right:12px; width:11px; height:11px; border:none; background:url('https://stimg.emart.com/store/images/smu/btn_close.png') no-repeat 0 0; font-size:0; line-height:0;}

/* 필수입력사항 */
.txt_required	{color:#cc2c00 !important;}
.bul_required	 {display:inline-block; width:6px; height:6px; margin-right:2px; background:url('https://stimg.emart.com/store/images/common/bul_required.png') no-repeat 0 0; vertical-align:middle;}
.bul_required > span	{font-size:0; line-height:0; text-indent:-9999px;}

/* tab */
.tab_wrap > ul	{background:url('https://stimg.emart.com/store/images/bg_tab_line.png') no-repeat -1px 51px;}
.tab_wrap > ul:after	 {content:' '; display:block; clear:both; height:0; visibility:hidden;}
.tab_wrap > ul > li	{float:left; width:50%; margin-left:-1px;}
.tab_wrap > ul > li:first-child	{margin-left:0;}
.tab_wrap > ul > li > a	 {display:block; margin-top:8px; padding:12px 0 14px; border:1px solid #d3d4d9; border-bottom:none; background:#ebf1f7; font-size:14px; color:#3d424d; text-align:center;}
.tab_wrap > ul > li.on	{width:50%;}
.tab_wrap > ul > li.on > a	 {position:relative; margin-top:0; padding:18px 0 17px; border:2px solid #3d424d; border-top:2px solid #3d424d; border-bottom:none; background:#fff; font-size:17px; color:#1a1a1a; font-weight:bold;}
.tab_wrap > ul > li	.tab_cont	{display:none; width:200%;}
.tab_wrap > ul > li.on	.tab_cont	 {display:block; margin-top:40px;}
.tab_wrap > ul > li.on	.tab_cont.cont02	 {margin-left:-100%; padding-left:1px;}
.tab_wrap > ul > li.on	.tab_cont.cont03	 {margin-left:-200%;}
.tab_wrap > ul > li.on	.tab_cont.cont04	 {margin-left:-300%;}
.tab_wrap > ul > li.on	.tab_cont.cont05	 {margin-left:-400%;}
.tab_wrap > ul > li.on	.tab_cont.cont06	 {margin-left:-500%;}

.tab_wrap.type03 > ul > li	{width:33.3%;}
.tab_wrap.type03 > ul > li.on	{width:33.5%}
.tab_wrap.type03 > ul > li	.tab_cont	{width:300%;}
.tab_wrap.type03 > ul > li	.tab_cont.cont02	 {padding-left:4px;}
.tab_wrap.type03 > ul > li	.tab_cont.cont03	 {padding-left:8px;}

.tab_wrap.type04 > ul > li	{width:25%;}
.tab_wrap.type04 > ul > li.on	{width:25.2%;}
.tab_wrap.type04 > ul > li	.tab_cont	{width:400%;}
.tab_wrap.type04 > ul > li	.tab_cont.cont02	 {padding-left:4px;}
.tab_wrap.type04 > ul > li	.tab_cont.cont03	 {padding-left:8px;}
.tab_wrap.type04 > ul > li	.tab_cont.cont04	 {padding-left:12px;}

.tab_wrap.type05 > ul > li	{width:20%;}
.tab_wrap.type05 > ul > li.on	{width:20.3%;}
.tab_wrap.type05 > ul > li	.tab_cont	{width:500%;}
.tab_wrap.type05 > ul > li	.tab_cont.cont02	 {padding-left:5px;}
.tab_wrap.type05 > ul > li	.tab_cont.cont03	 {padding-left:10px;}
.tab_wrap.type05 > ul > li	.tab_cont.cont04	 {padding-left:15px;}
.tab_wrap.type05 > ul > li	.tab_cont.cont05	 {padding-left:20px;}

.tab_wrap.type06 > ul > li	{width:16.6%;}
.tab_wrap.type06 > ul > li.on	{width:17.5%;}
.tab_wrap.type06 > ul > li	.tab_cont	{width:590%;}
.tab_wrap.type06 > ul > li.on	.tab_cont.cont02	 {padding-left:10px;}
.tab_wrap.type06 > ul > li.on	.tab_cont.cont03	 {padding-left:20px;}
.tab_wrap.type06 > ul > li.on	.tab_cont.cont04	 {padding-left:30px;}
.tab_wrap.type06 > ul > li.on	.tab_cont.cont05	 {padding-left:40px;}
.tab_wrap.type06 > ul > li.on	.tab_cont.cont06	 {padding-left:50px;}

/* .tab_wrap.type13 > ul > li	{width:7.81%;} */
.tab_wrap.type13 > ul > li	{width:7.25%;}
.tab_wrap.type13 > ul > li.on	.tab_cont			{position:absolute;top:53px;left:226px;right:0;margin-top:0; margin-left:-2px; background:#fff; text-align:left;}
.tab_wrap.type13 > ul > li.on	.tab_cont.cont02	{margin-left:-3px;}


/* 고객만족제도 탭 */
.step_wrap	{display:inline-block;}
.step_wrap > ol	{margin:-1px 0 -10px;}
.step_wrap > ol:after {content:' '; display:block; clear:both; height:0; visibility:hidden;}
.step_wrap > ol > li:first-child a{border-left:1px solid #bdbdbd;}
.step_wrap > ol > li {float:left; height:92px; }
.step_wrap > ol > li.on {background:url('https://stimg.emart.com/store/images/scc/bg_step_on.png') 50% 98% no-repeat;}
.step_wrap > ol > li a {display:block; width:125px; padding:22px 0 22px 17px; border-top:1px solid #ddd; border-right:1px solid #ccc; border-bottom:2px solid #33353e; background:#f5f7fa; overflow:hidden;}
.step_wrap > ol > li.on > a {padding:22px 0 20px 17px !important; border-bottom:4px solid #fcb416; background:#fff; font-family:'맑은 고딕',sans-serif; font-weight:bold; }
.step_wrap > ol > li > a span {float:left; }
.step_wrap > ol > li > a span.num {display:block; width:20px; height:20px; margin-top:8px; background:url('https://stimg.emart.com/store/images/scc/bg_step.png') no-repeat; font:0/0 a; }
.step_wrap > ol > li.step02 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -20px no-repeat;}
.step_wrap > ol > li.step03 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -40px no-repeat;}
.step_wrap > ol > li.step04 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -60px no-repeat;}
.step_wrap > ol > li.step05 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -80px no-repeat;}
.step_wrap > ol > li.step06 a {*padding-left:20px !important;}
.step_wrap > ol > li.step06 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -100px no-repeat;}
.step_wrap > ol > li.step07 a span.num {background:url('https://stimg.emart.com/store/images/scc/bg_step.png') 0 -120px no-repeat;}
.step_wrap > ol > li > a span.tit {display:block; padding-left:10px; font-size:14px; color:#1a1a1a; line-height:18px; }
.step_wrap.type03	{display:block;}
.step_wrap.type03 > ol > li	{width:33.3%;}
.step_wrap.type03 > ol > li.on	{width:33.4%; background-position:50% 77%;}
.step_wrap.type03 > ol > li > a	{width:auto; padding:22px 0; text-align:center;}
.step_wrap.type03 > ol > li > a	.tit	{float:none; font-size:16px;}
.step_wrap.type03 > ol > li > a:hover	{text-decoration:none;}

/* 로그인 */
.login_wrap	.user_info	 {position:relative; overflow:hidden;}
.login_wrap	.user_info		dl	{margin-top:25px;}
.login_wrap	.user_info		dl	dt	{visibility:hidden; font-size:0; line-height:0;}
.login_wrap	.user_info		dl	dd	 {margin-bottom:5px;}
.login_wrap	.user_info		dl	dd	 input[type='text'],
.login_wrap	.user_info		dl	dd	 input[type='password']	{height:50px; line-height:15px;}
.login_wrap	.user_info		dl	dd	 input.user_pw	{background:url('https://stimg.emart.com/store/images/common/bg_login_pw.png') no-repeat 10px 14px;}
@media \0screen	{.login_wrap	.user_info	 dl	dd	 input[type='text']	{line-height:48px;}}
@media \0screen	{.login_wrap	.user_info	 dl	dd	 input[type='password']	{line-height:48px;}}
:root	.login_wrap	.user_info	 dl	dd	 input[type='text']	{line-height:48px\9;}
.login_wrap	.user_info		.check	 {margin-top:18px;}
.login_wrap	.user_info		.check	 span	{font-size:13px;}
.login_wrap	.user_info		.check	 span:first-child	{margin-right:10px; padding-right:16px; background:url('https://stimg.emart.com/store/images/scc/bg_login_bar.png') no-repeat right 3px;}
.login_wrap	.user_info		.check	 span	a	{vertical-align:top;}
.login_wrap	.user_info	 .btn	{position:absolute; top:25px; right:0; text-align:right;}
.login_wrap	.user_info	 .btn	button	{min-width:120px; height:105px; padding:0; font-family:'맑은 고딕',sans-serif; font-size:17px; vertical-align:middle}
/* :root	.login_wrap	.user_info	 .btn	button	 {min-width:130px9;} */
/* @media 0screen {.login_wrap	.user_info	 .btn	button	{min-width:94px;}} */
.login_wrap	.login_desc	{margin-top:70px; padding:20px 0 18px; border-top:1px dotted #c5c5c5;}
.login_wrap	.login_nomatch	{padding:20px 0 18px; color:#cc2c00; font-size:12px;}
.login_wrap	.family_nomatch	{padding:20px 0 18px; color:#cc2c00; font-size:12px;}
.login_wrap	.ssgcom_test	{padding:20px 0 18px; color:#cc2c00; font-size:12px;}
.login_wrap	.login_desc:after	 {content: "."; display: block; height: 0px; clear: both; visibility: hidden}
.login_wrap	.login_desc	p	{float:left; color:#666;}
.login_wrap	.login_desc > span	{float:right;}
.login_wrap	.quick	{margin-top:15px;}
.login_wrap	.quick	p	{font-size:11px; color:#666;}
.login_wrap	.quick	.tit	{font-family:'맑은 고딕',sans-serif; font-size:13px; color:#333; font-weight:normal;}
.login_wrap	.quick > ul	{margin:8px 0; padding:10px 20px; border:1px solid #d9d9d9;}
.login_wrap	.quick > ul:after	{content: "."; display: block; height: 0px; clear: both; visibility: hidden}
.login_wrap	.quick > ul	li	{float:left; margin-left:18px; padding-left:18px; background:url('https://stimg.emart.com/store/images/scc/bg_login_bar.png') no-repeat 0 13px;}
:root	.login_wrap	.quick > ul	li	{margin-left:21px\9; padding-left:21px\9;}
@media \0screen	{.login_wrap	.quick > ul	li	{margin-left:21px; padding-left:21px;}}
.login_wrap	.quick > ul	li:first-child	{margin-left:0; padding-left:0; background:none;}
.login_wrap	.quick > ul	li	a	{display:block; background:url('https://stimg.emart.com/store/images/scc/bg_quick_link.png') no-repeat 0 0;}
.login_wrap	.quick > ul	li	a span	{visibility:hidden; font-size:0; line-height:0;}
.login_wrap	.quick > ul	li	.em	{width:81px; height:30px; background-position:0 4px;}
.login_wrap	.quick > ul	li	.ee	 {width:92px; height:30px; margin-top:4px; background-position:0 -31px;}
.login_wrap	.quick > ul	li	.ec	 {width:41px; height:30px; margin-top:4px; background-position:0 -163px;}
.login_wrap	.quick > ul	li	.et	 {width:53px; height:38px; background-position:0 -124px;}
.login_wrap	.quick > ul	li	.wm	 {width:69px; height:30px; margin-top:5px; background-position:0 -194px;}
.login_wrap	.quick > ul	li	.eq	 {width:102px; height:30px; background-position:0 -88px;}

/* 이용약관 */
.agree_wrap	{line-height:24px; font-size:13px; color:#4c4c4c; }
.agree_wrap	h2	{padding-top:40px; font-family:'맑은 고딕',sans-serif; font-size:18px; color:#1a1a1a;}
.agree_wrap h2:first-child	{padding-top:0px;}
.agree_wrap	h3	{padding:20px 0 0 20px; font-family:'맑은 고딕',sans-serif; font-size:13px; color:#1a1a1a;}
.agree_wrap > ol, .agree_wrap > p {padding-left:20px; }


/* 개인정보 취급 방침 */
.policy_wrap	{line-height:24px; font-size:13px; color:#4c4c4c; }
.policy_wrap	.top_txt	{padding:0 0 15px; line-height:24px; }
.policy_wrap .index_list	{padding:20px 0 10px 20px; border-top:2px solid #bec1cc; border-bottom:1px solid #d9d9d9; font-size:14px; color:#3d424d; }
.policy_wrap .index_list:after	 {content: "."; display: block; height: 0px; clear: both; visibility: hidden}
.policy_wrap .index_list ul {float:left; padding-right:180px; }
.policy_wrap .index_list ul	li {padding-bottom:5px; }
.policy_wrap .index_list ul	li	span {display:inline-block; width:22px; height:22px; margin-right:10px; font-size:0; line-height:0; vertical-align:middle; }
.policy_wrap .index_list ul	li.num1 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 0 no-repeat;}
.policy_wrap .index_list ul	li.num2 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -30px no-repeat;}
.policy_wrap .index_list ul	li.num3 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -60px no-repeat;}
.policy_wrap .index_list ul	li.num4 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -90px no-repeat;}
.policy_wrap .index_list ul	li.num5 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -120px no-repeat;}
.policy_wrap .index_list ul	li.num6 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -150px no-repeat;}
.policy_wrap .index_list ul	li.num7 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') 0 -180px no-repeat;}
.policy_wrap .index_list ul	li.num8 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px 0 no-repeat;}
.policy_wrap .index_list ul	li.num9 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px -30px no-repeat;}
.policy_wrap .index_list ul	li.num10 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px -60px no-repeat;}
.policy_wrap .index_list ul	li.num11 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px -90px no-repeat;}
.policy_wrap .index_list ul	li.num12 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px -120px no-repeat;}
.policy_wrap .index_list ul	li.num13 span	{background:url('https://stimg.emart.com/store/images/common/bg_index_list.png') -30px -150px no-repeat;}
.policy_wrap:not(.new)	h2	{margin-top:40px; padding:0 0 20px; font-family:'맑은 고딕',sans-serif; font-size:18px; color:#1a1a1a;}
.policy_wrap	.chapter_box > ol, .policy_wrap	.chapter_box > ul, .policy_wrap	.chapter_box > p, .policy_wrap	.chapter_box > dl {padding-left:18px; }
.chapter_box > .img	{text-align:center;}
.policy_wrap.new { font-size: 14px; line-height: 21px; color:#4c4c4c; text-align: center;}
.policy_wrap.new div {text-align: left;}
.policy_wrap.new > h2 + section { border-bottom: 10px solid #f7f7f7; padding-bottom: 40px;}
.policy_wrap.new > section article > div { padding: 0 22px; }
.policy_wrap.new > section article > div strong { font-weight: bold; }
.policy_wrap.new > section article > div > ol { counter-reset: chapter01 0; }
.policy_wrap.new > section article > div > ol > li:not(:first-child) { margin-top: 24px; }
.policy_wrap.new > section article > div > ol > li::before { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; counter-increment: chapter01; content: counter(chapter01); width: 12px; height: 12px; margin-right: 3px; background-color: #4c4c4c; border-radius: 50%; color: #fff; font-size: 10px; transform: translateY(-2px); letter-spacing: 1px;}
.policy_wrap.new > section article > div > ol > li > ol { counter-reset: chapter02 0; }
.policy_wrap.new > section article > div > ol > li > ol > li::before { counter-increment: chapter02; content: counter(chapter02) ") "; }
.policy_wrap.new > section article > div > ol > li > ol.strong > li::before { font-weight: bold; }
.policy_wrap.new > section article > div > ol > li > ol > li > div { margin-left: 15px; }
.policy_wrap.new > section article > div ul > li { position: relative; padding-left: 10px; }
.policy_wrap.new > section article > div ul > li::before { position: absolute; left: 0; top: 0; content: "-"; }
.policy_wrap.new > section article > div ul > li.strong::before { font-weight: bold; }
.policy_wrap.new > section article > div p { margin-left: 9px; }

.policy_wrap.new .index_list { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-line-pack: justify; align-content: space-between; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 390px; margin-top: 16px; padding: 40px; padding-right: 80px; font-size:15px; line-height: 18px; color:#000; border-radius: 16px; border: solid 2px #ebf1f7; box-sizing: border-box; text-align: left; }
.policy_wrap.new .index_list::after { position: absolute; left: 50%; top: 50%; display: block; content: ""; width: 1px; height: 322px; background-color: #ebf1f7; transform: translateY(-50%); visibility: inherit; }
.policy_wrap.new .index_list li	{ display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 13px; }
.policy_wrap.new .index_list li	span { -ms-flex-negative: 0; flex-shrink: 0; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 32px; height: 32px; margin-right: 15px;}
.policy_wrap.new .index_list li	a { font-size: 15px; color: #000; }
.policy_wrap.new .index_list li:nth-child(7n + 1)	{ margin-top: 0; }
.policy_wrap.new .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; background-color: #ebf1f7; color: #0044cc; font-weight: bold; font-size: 18px; border-radius: 16px; height: 64px; margin: 40px 0 24px; padding: 0 17px 0 24px; }
.policy_wrap.new .title br {display: none;}
.policy_wrap.new article .title img { width: 48px; }
.policy_wrap.new article.label-triple .title img,
.policy_wrap.new article.label-salvation .title img { width: auto; }
.policy_wrap.new section > h2	{display: inline-block; margin:40px 0 24px; padding:13px 26px; font-size:18px; font-weight: bold; color:#fff; background-color: #424242; border-radius: 24px;}
.policy_wrap.new section > h2 span {font-weight: normal;}
.policy_wrap.new .policy-label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 414px; margin: -24px auto 0; }
.policy_wrap.new .policy-label li { margin-top: 24px; position: relative; }
.policy_wrap.new .policy-label li.label-collection img { -webkit-transform: translateY(7px); transform: translateY(7px); }
.policy_wrap.new .policy-label li.label-consignment img,
.policy_wrap.new .policy-label li.label-offer img { width: 70px; -webkit-transform: translateY(-10px); transform: translateY(-10px); }
.policy_wrap.new .policy-label li a { display: block; width: 122px; height: 120px; padding: 13px 0; border-radius: 16px; box-sizing: border-box; border: solid 1px #ebf1f7; color: #4c4c4c; font-size: 13px; line-height: 18px; }
.policy_wrap.new .policy-label li img { display: block; margin: 0 auto; width: 50px; }
.policy_wrap.new .policy-label li p { position: absolute; bottom: 13px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 100%; }

/* 채용 프로세스 */
.recruit_step	ol	{border:1px solid #d9d9d9; background:url('https://stimg.emart.com/store/images/common/bg_recruit.png') repeat 0 0;}
.recruit_step	ol:after	{content:' '; display:block; clear:both; height:0; visibility:hidden;}
.recruit_step	ol	li	{float:left; position:relative; width:25%; padding:17px 0; font-family:'맑은 고딕',sans-serif; font-size:14px; color:#1a1a1a; text-align:center;}
.recruit_step	ol	li:before	{content:' '; display:block; position:absolute; top:0; left:50%; margin-left:-30px; background:url('https://stimg.emart.com/store/images/common/bg_recruit_step.png') repeat 0 0;}
.recruit_step	ol	li.step1:before	{top:26px; width:56px; height:66px;}
.recruit_step	ol	li.step2:before	{top:28px; width:94px; height:63px; margin-left:-40px; background-position:0 -76px;}
.recruit_step	ol	li.step3:before	{top:19px; width:65px; height:67px; background-position:0 -148px;}
.recruit_step	ol	li.step4:before	{top:20px; width:74px; height:63px; margin-left:-40px; background-position:0 -225px;}
.recruit_step	ol	li:after	 {content:' '; display:block; position:absolute; top:0; left:0; width:12px; height:138px; background:url('https://stimg.emart.com/store/images/common/bg_recruit_step.png') repeat 0 -298px;}
.recruit_step	ol	li:first-child:after	{background:none;}
.recruit_step	ol	li	div	 {padding-top:87px;}
.recruit_step	ol	li	div	 .num	{display:inline-block; width:12px; margin-right:8px; background:url('https://stimg.emart.com/store/images/common/bg_recruit_num.png') no-repeat 0 0; text-indent:-9999px;}
.recruit_step	ol	li.step2	.num	{background-position:0 -20px;}
.recruit_step	ol	li.step3	.num	{background-position:0 -40px;}
.recruit_step	ol	li.step4	.num	{background-position:0 -60px;}
.noti_desc	 {margin:5px 0 0 3px; font-size:13px; color:#666;}



/* 단골 이마트 */
.favo_wrap	{display:none;position:absolute;top:0;left:50%;margin-left:-720px;width:1440px;height:538px;background:url('https://stimg.emart.com/store/images/common/bg_favo_shop.jpg') no-repeat;z-index:-1;}
.favo_emart.on .favo_wrap	{display:block;}

.favo_wrap .shop_info01	{position:absolute;top:174px;left:229px;text-align:left;}
.favo_wrap .shop_info01 a {text-align:left;}

.favo_wrap .shop_info01 .local_sel	{position:relative;width:140px;height:42px;margin:0 15px 18px 0;padding:10px 0 0 0;z-index:15;}
.favo_wrap .shop_info01 .shop_sel	{position:relative;width:330px;height:42px;margin:0 15px 23px 0;padding:10px 0 0 0;z-index:14;}
.favo_wrap .shop_info01 .local_sel.on	{background:#fff;padding:10px 9px 0 0 !important;}
.favo_wrap .shop_info01 .shop_sel.on	{background:#fff;padding:10px 9px 0 0 !important;}

.favo_wrap .shop_info01 .sel	{display:block;width:100% !important;font-size:24px !important;padding-left:8px;padding-bottom:13px;color:#fff;line-height:100%;background:url('https://stimg.emart.com/store/images/common/ico_sel_set.png') right 15px no-repeat !important;border-bottom:3px solid #fff;font-weight:normal !important;}
.favo_wrap .shop_info01 .sel:hover,
.favo_wrap .shop_info01 .sel:active,
.favo_wrap .shop_info01 .sel:focus	{color:#fcb416 !important;text-decoration:none;background-position:right -80px !important;border-bottom:3px solid #fcb416;}
.favo_wrap .shop_info01 .on .sel		{width:94.5% !important;margin-left:0 !important;padding:5px 0 13px 17px;font-weight:bold;color:#3d424d !important;background:url('https://stimg.emart.com/store/images/common/ico_sel_set.png') right -35px no-repeat !important;font-size:20px !important;}
.favo_wrap .shop_info01 .shop_sel.on .sel	{padding-right:3px;}
.favo_wrap .shop_info01 .on .sel:hover,
.favo_wrap .shop_info01 .on .sel:active,
.favo_wrap .shop_info01 .on .sel:focus	{text-decoration:none;border-color:#fff;;color:#3d424d !important;background:url('https://stimg.emart.com/store/images/common/ico_sel_set.png') right -35px no-repeat !important;}

.favo_wrap .shop_info01 .sel_list		{display:none;position:absolute;top:54px;;left:0;width:100%;height:308px;background:#fff;border:2px solid #3d424d;border-top:none;margin:0 -2px;overflow-y:scroll;overflow-x:hidden;}
.favo_wrap .shop_info01 .on .sel_list	{display:block;}
.favo_wrap .shop_info01 .sel_list li	{display:block;width:100%;}
.favo_wrap .shop_info01 .sel_list li a	{width:88% !important;margin-left:0 !important;padding:10px 0 10px 18px;background:none !important;font-size:14px !important;color:#1a1a1a !important;font-weight:normal !important;}
.favo_wrap .shop_info01 .shop_sel .sel_list li a	{width:91.5% !important;}
.favo_wrap .shop_info01 .sel_list li a:hover,
.favo_wrap .shop_info01 .sel_list li a:focus,
.favo_wrap .shop_info01 .sel_list li a:active	{background:#f2f2f2 !important;}
.favo_wrap .shop_info01 .sel_list li.on a	{background:#ffc61c !important;text-decoration:none;cursor:default;font-weight:bold !important;}

.favo_wrap .shop_info01 dl	{margin-top:13px;font-size:14px;color:#fff;}
.favo_wrap .shop_info01 dl dt	{display:inline-block;width:52px;height:20px;padding-left:29px;vertical-align:top;}
.favo_wrap .shop_info01 dl dd	{display:inline-block;width:287px;padding-left:5px;margin-top:-3px;vertical-align:top;line-height:160%;}
.favo_wrap .shop_info01 dl dd.num	{letter-spacing:0;}
.favo_wrap .shop_info01 .time dt	{background:url('https://stimg.emart.com/store/images/common/ico_shop_info.png') no-repeat 0 0;}
.favo_wrap .shop_info01 .call dt	{background:url('https://stimg.emart.com/store/images/common/ico_shop_info.png') no-repeat 0 -33px;}
.favo_wrap .shop_info01 .parking dt	{background:url('https://stimg.emart.com/store/images/common/ico_shop_info.png') no-repeat 0 -66px;}
.favo_wrap .shop_info01 button		{margin-top:24px;border:none;text-align:left;}
.favo_wrap .shop_info01 button .ico	{display:inline-block;background:none;}
.favo_wrap .shop_info01 .favo_set	{width:156px;height:36px;padding:3px 25px 4px 44px;color:#fff;font-size:13px;background:url('https://stimg.emart.com/store/images/common/bg_btn_favo_setting.png') no-repeat 0 0;}
.favo_wrap .shop_info01 .favo_none_set	{width:156px;height:36px;padding:3px 25px 4px 34px;color:#ffc61c;font-size:13px;background:url('https://stimg.emart.com/store/images/common/bg_btn_favo_setting.png') no-repeat 0 -50px;cursor:default;}
.favo_wrap .shop_info01 .no_sel_text	{padding:30px 0 25px 10px;font-size:17px;font-weight:bold;color:#fff;line-height:150%;}
.favo_wrap .shop_info01 .no_sel_text em	{color:#ffc61c;}

.favo_wrap .shop_info02	{position:absolute;top:110px;left:613px;width:342px;height:340px;background:url('https://stimg.emart.com/store/images/common/bg_shop_time.png') no-repeat;}
.favo_wrap .shop_info02.no_shop	{background:url('https://stimg.emart.com/store/images/common/bg_no_shop_time.png') no-repeat;}
.favo_wrap .shop_info02 .shop_time	{position:absolute;width:342px;height:340px;}
.favo_wrap .shop_info02 .shop_time dd	{position:absolute;width:85px;height:21px;color:#000;text-align:center;letter-spacing:0;font-size:11px;}
.favo_wrap .shop_info02 .shop_time .open_time	{bottom:1px;right:0;}
.favo_wrap .shop_info02 .shop_time .close_time	{top:2px;right:110px;}
.favo_wrap .shop_info02 .remain_time	{margin:158px 0 0 -48px;color:#fff;}
.favo_wrap .shop_info02 .remain_time dt	{font-size:13px;}
.favo_wrap .shop_info02 .remain_time dd	{margin-top:13px;font-size:36px;letter-spacing:0;}
.favo_wrap .shop_info02 .remain_time.no_sel dt	{visibility:hidden;}
.favo_wrap .shop_info02 .remain_time.no_sel dd	{margin-top:8px;}
.favo_wrap .shop_info02 .offshop_notice	{margin:178px 0 0 -48px;color:#fff;font-size:30px;}

.favo_wrap .shop_info03	{position:absolute;top:166px;left:1025px;width:189px;color:#fff;}
.favo_wrap .shop_info03 .d-calendar-header	{position:relative;float:left;width:100%;}
.favo_wrap .shop_info03 .d-calendar-header a	{display:block;position:absolute;top:15px;width:8px !important;height:15px;background:url('https://stimg.emart.com/store/images/common/bg_ico_month_move.png') 0 0 no-repeat !important;}
.favo_wrap .shop_info03 .d-calendar-header .pre_month	{left:-20px;}
.favo_wrap .shop_info03 .d-calendar-header .pre_month.disabled	{background-position: 0 -30px !important;cursor:default;}
.favo_wrap .shop_info03 .d-calendar-header .next_month	{right:-20px;background-position: -8px 0 !important;}
.favo_wrap .shop_info03 .d-calendar-header .next_month.disabled	{background-position: -8px -30px !important;cursor:default;}
.favo_wrap .shop_info03 .d-calendar-text	{float:left;font-size:12px;}
.favo_wrap .shop_info03 .d-calendar-text em	{font-size:48px;letter-spacing:0;line-height:70%;}
.favo_wrap .shop_info03 .open_info			{float:right;margin-top:10px;}
.favo_wrap .shop_info03 .open_info li		{display:inline-block;width:30px;height:30px;margin-left:14px;padding-right:0;}
.favo_wrap .shop_info03 .open_info li span	{display:inline-block;margin-top:5px;text-align:center;}
.favo_wrap .shop_info03 .open_info li.close	{background:url('https://stimg.emart.com/store/images/common/ico_cal_info.png') 2px 0 no-repeat;color:#14161a;}
.favo_wrap .shop_info03 .open_info li.today	{background:url('https://stimg.emart.com/store/images/common/ico_cal_info.png') 1px -35px no-repeat;color:#fff;}
.favo_wrap .shop_info03 .d-calendar-date		{margin-top:10px;}
.favo_wrap .shop_info03 .d-calendar-date:after	{clear:both;display:block;content:"";}
.favo_wrap .shop_info03 .m-calendar-table		{float:left;width:100%;margin-top:12px;}
.favo_wrap .shop_info03 .m-calendar-table th	{width:24px;height:24px;font-size:13px;color:#fff;text-align:center;vertical-align:middle;}
.favo_wrap .shop_info03 .m-calendar-table td	{width:24px;height:24px;font-size:13px;color:#fff;border:3px solid transparent;text-align:center;vertical-align:middle;letter-spacing:0;}
.favo_wrap .shop_info03 .m-calendar-table .m-calendar-holiday	{background:url('https://stimg.emart.com/store/images/common/ico_cal_info.png') 0px -70px no-repeat;color:#14161a;}
.favo_wrap .shop_info03 .m-calendar-table .m-calendar-today		{background:url('https://stimg.emart.com/store/images/common/ico_cal_info.png') 0 -105px no-repeat;color:#fff;}
.favo_wrap .shop_info03 .m-calendar-table .m-calendar-holiday.m-calendar-today	{background:url('https://stimg.emart.com/store/images/common/ico_cal_info.png') 0 -144px no-repeat;color:#14161a;}
.favo_wrap .shop_info03 .close_info	{margin-top:6px;text-align:left;}
.favo_wrap .shop_info03 .close_info dt	{display:inline-block;margin-right:6px;}
.favo_wrap .shop_info03 .close_info dd	{display:inline-block;letter-spacing:0;font-size:13px;font-weight:bold;}

.favo_wrap .favo_close	{position:absolute;right:230px;bottom:20px;display:block;width:32px !important;height:32px !important;background:url('https://stimg.emart.com/store/images/common/btn_favo_close.png') 0 0 no-repeat !important;}


/* 상단 숨김 배너  */
.btn_func	{position:absolute;top:95px;right:220px;}
/* 숨김배너 이미지가 흰색일 경우 */
/* .btn_func label		{margin-left:5px;color:#4d4d4d;font-size:12px;}
.btn_func .close	{display:inline-block;padding-right:16px;margin-top:-2px;background:url('https://stimg.emart.com/store/images/common/btn_top_close.png') right 5px no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.btn_func .close	{background:url('https://stimg.emart.com/store/images/common/btn_top_close.png') right 5px no-repeat;}
}
.btn_func a.close:hover	{text-decoration:none;color:#4d4d4d;} */
/* 숨김배너 이미지가 검정일 경우 */
.btn_func label		{margin-left:5px;color:#FFF;font-size:12px;}
.btn_func .bar		{margin:0 5px;color:#d9c91b;font-size:11px;}
.btn_func .close	{display:inline-block;padding-right:16px;margin-top:-3px;color:#FFF;background:url('https://stimg.emart.com/store/images/common/btn_top_close_white.png') right 5px no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.btn_func .close	{background:url('https://stimg.emart.com/store/images/common/btn_top_close_white.png') right 5px no-repeat;color:#FFF;}
}
.btn_func a.close:hover	{text-decoration:none;color:#FFF;}


/* 상단 네비게이션 */
.h_link					{}
.h_link nav				{position:relative;width:1002px;height:33px;margin:0 auto;z-index:1;}
.h_link nav:after		{clear:both;display:block;content:"";}
.h_link ol > li			{position:relative;float:left;padding:0 13px 0 15px;background:url('https://stimg.emart.com/store/images/common/bull_nav.png') no-repeat left 5px;}
.h_link ol > li:first-child	{padding:0 12px 0 0;background:none;}
.h_link ol > li .depth	{display:inline-block;;margin-top:-2px;color:#737373;font-size:12px}
.h_link ol > li .home		{display:inline-block;width:15px;height:15px;background:url('https://stimg.emart.com/store/images/common/ico_nav_home.png') no-repeat;font-size:0;}
.h_link ol > li .sel		{display:inline-block;width:134px;height:21px;padding:4px 0 0 12px;margin-top:-4px;background:url('https://stimg.emart.com/store/images/common/bg_nav_sel.png') no-repeat;font-weight:bold;color:#14161a;}
.h_link ol > li .sel:hover,
.h_link ol > li .sel:focus,
.h_link ol > li .sel:active,
.h_link ol > li.on .sel		{text-decoration:none;background:url('https://stimg.emart.com/store/images/common/bg_nav_sel.png') 0 -25px no-repeat;}
.h_link ol > li > .sel_depth	{display:none;position:absolute;top:20px;left:15px;border:1px solid #cccccc;padding:9px 0 4px;background:#fff;}
.h_link ol > li.on > .sel_depth	{display:block;}
.h_link ol > li > .sel_depth > li			{margin-bottom:5px;}
.h_link ol > li > .sel_depth > li > a		{display:block;width:133px;height:22px;padding:3px 0 0 11px;color:#14161a;font-size:12px;}
.h_link ol > li > .sel_depth > li > a:hover,
.h_link ol > li > .sel_depth > li > a:focus,
.h_link ol > li > .sel_depth > li > a:active	{background:#f2f2f2;text-decoration:underline;}



/* 푸터 */
.foot_util .left {position:relative; display:inline-block;}
.foot_util .right {position:relative; float:right; width:210px;}
.footer-menu {position:relative; padding:35px 0 30px;border-bottom:2px solid #000; letter-spacing:0;}
.footer-menu:after{content:''; display:table; clear:both;}
.footer-menu a {font-size:14px;}
.footer-menu ul li {float:left}
.footer-menu ul > li {margin-right:15px;}
.footer-menu ul > li:last-child {margin-right:0;}
.footer-menu ul > li > a {float:left;font-size:16px; color:#000;}
.footer-menu ul > li > ul {position:relative;top:4px;float:left;margin-left:10px;}
.footer-menu ul > li > ul > li {height:10px; padding:0 6px; margin:0; border-left:1px solid #e5e5e5;}
.footer-menu ul > li > ul > li:first-child {border-left:none;}
.footer-menu ul > li > ul > li > a {display:inline-block;margin-top:-4px;font-size:14px; color:#666; letter-spacing:-1px;}
.footer-menu .right {text-align:right;}
.footer-menu .footer-util {overflow:hidden;}
.footer-menu .footer-util li {float:left;margin-right:0;}
.footer-menu .footer-util li span {font-size:14px; margin:0 0 0 1px;vertical-align:top;}
.footer-menu .footer-util li a {font-size:14px;}

.footer-bottom {padding-bottom:25px;}
.footer-bottom:after {content:''; display:table; clear:both;}
.footer-bottom > ul	{float:left;margin-left:180px;}
.footer-bottom > ul > li {float:left;margin-right:50px;}
.footer-bottom .family_link	{margin:30px 0;}
.footer-bottom .family_link select {width:150px;height:42px;border:none;border-bottom:2px solid #010101;font-size:14px;}
.footer-bottom .family_link button{ width: 50px;  float: right;  margin-top: 5px; border: 0;line-height: 28px; background-color: #fff;  border: 1px solid #000;  color: #000;}
.footer-bottom .cs-call {font-size:13px; color:#666; letter-spacing:-1px;}
.footer-bottom .cs-call li {margin-bottom:12px;}
.footer-bottom .cs-call em {color:#333;}

#footer .company_info {position:relative;padding:28px 0 44px;font-size:13px;letter-spacing:0;}
#footer .company_info > em	{float:left; margin-right:17px;}
#footer .company_info a {font-size:13px;}
#footer .company_info .footer_link	{margin-top:30px;}
#footer .company_info .footer_link > li	{display:inline-block; margin-right:10px;}
#footer .company_info .footer_link > li:first-child{padding:0;}
#footer .company_info .footer_link > li > a	{color:#000;}
#footer .company_info .partner-link {margin-top:10px; padding-top:10px; border-top:1px solid #e5e5e5;}
#footer .company_info .partner-link > li {display:inline-block; margin-right:8px;}
#footer .company_info .partner-link > li > a {color:#333;}
#footer .company_info .partner-link > li > a > span {color:#666;}
#footer .company_info .detail_info	{overflow:hidden;margin-top:12px;}
#footer .company_info .detail_info > li	{float:left;display:inline-block; margin-right:14px;}
#footer .company_info .detail_info > li strong {color:#333;font-weight:400;}
#footer .company_info .detail_info.legal .important { position: relative; top: -1px; }
#footer .company_info .detail_info.legal .important a { font-size: 15px; }
#footer .company_info .detail_info.legal .important a,
#footer .company_info .detail_info.legal .important a:focus,
#footer .company_info .detail_info.legal .important a:hover { color: #FF3C50; }

#action_frame	{position:absolute; top:-9999px; left:-9999px;}

/* icon */
.ico		{display:inline-block; background:url('https://stimg.emart.com/store/images/common/ico_sprite.png') no-repeat 0 0; vertical-align:middle;}
.ico > span	{font-size:0; line-height:0;}
.ico.new	{width:46px; height:18px; margin:-2px 0 -2px 10px; background-position:0 0;}
.ico.emart	 {width:48px; height:13px; background-position:0 -87px;}

/* 오픈 공지용 */
.open_notice		{margin-top:145px;text-align:center;}
.open_notice .big	{display:block;margin-top:30px;font-size:30px;font-weight:normal;line-height:130%;}
.open_notice .big span	{color:#cc2c00;}
.open_notice .s_txt	{margin-top:24px;font-size:14px;}
.open_notice .time	{margin-top:24px;color:#3366cc;font-size:18px;font-weight:bold;}
.open_notice .notice	{display:inline-block;margin-top:34px;padding-left:27px;font-size:14px;color:#1a1a1a;background:url('https://stimg.emart.com/store/images/ico_notice_open.png') no-repeat;line-height:140%;}

/* 휴면고객 안내 팝업 */
.pop_dormancy{display:none; position:absolute; top:0; left:0; z-index:2; width:100%; height:430px; background:#fff; text-align:center;}
.pop_dormancy.login2{height:545px;}
.pop_dormancy .inner{padding:25px 35px 32px; margin:0 auto; background:#fff;}
.pop_dormancy.login2 .inner{padding-top:95px;}
.pop_dormancy .logo_dormancy img{width:54px; height:15px;}
.pop_dormancy .tit_dormancy{margin:25px 0 12px; color:#000; font-size:40px; font-weight:normal; line-height:58px; letter-spacing:-2px;}
.pop_dormancy .tit_dormancy em{color:#c33916;}
.pop_dormancy .txt_dormancy{color:#666; font-size:13px; line-height:18px; letter-spacing:-1px;}
.pop_dormancy .txt_dormancy strong{color:#202020; font-weight:bold;}
.pop_dormancy .btn_wrap.side{margin-top:24px;}
.pop_dormancy.login2 .btn_wrap.side{width:400px;}
.pop_dormancy .btn_wrap.side:after{content:''; display:block; clear:both;}
.pop_dormancy .btn_wrap a{float:left; width:125px;}
.pop_dormancy .btn_wrap button{float:left; width:175px;}
.pop_dormancy .btn_wrap .btn_cancel{float:right;}
.pop_dormancy .layer_cl{position:fixed; bottom:0; left:0; width:100%; padding:12px 0 14px; background:#cbcbc8;}
.pop_dormancy .layer_cl .btn_cl{display:inline-block; width:66px; height:23px; border:0 none; background:url('https://stimg.emart.com/store/images/btn_pop_close.png') no-repeat 50% 0;}

.content-top {position:relative; height:272px; padding-top:80px; background:#f6f7f8; color:#000; font-size:16px; line-height:1; text-align:center;}
.content-top .title {margin-bottom:50px; font-size:40px; color:#000; font-weight:400;}
.content-top .tab {margin-bottom:40px;}
.content-top .tab:after {content:''; display:table; clear:both;}
.content-top .tab li {display:inline-block;}
.content-top .tab li a {color:#666;}
.content-top .tab li a:after {content:''; display:inline-block; width:0; height:13px; border-right:1px solid #bebebe; margin:0 18px 0 20px;}
.content-top .tab li:last-child a:after {display:none;}
.content-top .tab li.on a {color:#000; font-weight:500;}
.content-top .search-bar input::placeholder {text-align:center; font-size:14px; color:#b5b5b5;}
#conts.content-top{
	position: relative;
    z-index: 4;
    width: auto;
    min-height: 0;
    padding-bottom: 0; 
}
/* 탭 */
.taps {overflow:hidden;}
.taps > a {display:block; float:left; width:50%; padding:20px 0; border-bottom:2px solid #e5e5e5; color:#666; font-size:20px; text-align:center;}
.taps > a.on {border-color:#222; color:#222;}

/* 기본형 슬라이드 */
#conts.default-slide{width:1180px;min-height:auto;padding-bottom:0;}
.default-slide {width:1180px; position:relative; padding:0 42px; margin:0 auto;}
.default-slide .arrow-left {position: absolute; left: 0; top: 50%; margin-top: -19px; width: 22px; height: 38px; background: url(https://eapp-cdn.emart.com/store/main/main_top_slide.png) no-repeat 0 -153px;}
.default-slide .arrow-right {position: absolute; right: 0; top: 50%; margin-top: -19px; width: 22px; height: 38px; background: url(https://eapp-cdn.emart.com/store/main/main_top_slide.png) no-repeat 0 -97px;}
.default-slide .swiper-container {height: 560px; width: 1180px;}
.default-slide .swiper-slide img {width:100%;box-sizing:border-box}
.default-slide .swiper-slide a{display:block;}
.default-slide .swiper-slide a:focus{border: 2px solid #000}
.default-slide .control {position: absolute; right: 5px; top:0; width:24px; text-align:center;}
.default-slide .pagination {display:inline-block; width: 7px; margin-bottom:5px;}
.default-slide .swiper-pagination-bullet {display: block; width: 7px; height: 7px; margin-bottom:7px; cursor: pointer; background: url(https://eapp-cdn.emart.com/store/main/main_top_slide.png) no-repeat; vertical-align:top;}
.default-slide .swiper-pagination-bullet-active {background-position:0 -12px;}
.default-slide .stop,
.default-slide .start {display: none; width: 24px; height: 24px; background: url(https://eapp-cdn.emart.com/store/main/main_top_slide.png) no-repeat;}
.default-slide .stop {background-position: 0 -58px;}
.default-slide .start {background-position: 0 -28px;}
.default-slide .stop.on,
.default-slide .start.on{display: inline-block;}

/* 멀티형 슬라이드 */ 
  

.multiple-slide {position:relative; width:auto; overflow:hidden;margin:100px auto 140px auto; }
.multiple-slide h2 {margin-bottom:40px; font-size:24px; color:#000; text-align:center; line-height:1;}
.multiple-slide .inner{ overflow:hidden;}
.multiple-slide img{width:100%}
.multiple-slide.col-4{width: 1180px;transform:translateX(-100px);-ms-transform:translateX(-100px);}
.multiple-slide.col-4  .swiper-slide{width:280px !important; margin-right:10px; margin-left:10px;}
.multiple-slide.col-4  .swiper-slidespan {padding-top:20px}
.multiple-slide.col-5{width:1644px;transform:translateX(-332px); -ms-transform:translateX(-332px)}
.multiple-slide .swiper-slide a { font-size:16px; color:#333; text-align:center;} 
.multiple-slide .swiper-slide a img{ display:block;}
.multiple-slide .swiper-slide span {display:block; padding:50px 0 0 0; line-height:1.5;} 
.multiple-slide .arrow-left,
.multiple-slide .arrow-right {position: absolute; top: 50%; z-index:10; margin-top: -19px; width: 22px; height: 36px; background: url(https://eapp-cdn.emart.com/store/main/main_top_slide.png) no-repeat;}
.multiple-slide .arrow-left {left:-50px; background-position:0 -153px;}
.multiple-slide .arrow-right {right: -50px; background-position: 0 -97px;}
.multiple-slide .arrow-left.swiper-button-disabled {opacity: .3;}
.multiple-slide .arrow-right.swiper-button-disabled {opacity: .3;} 
.multiple-slide.col-5 .arrow-left{left:15%;  }
.multiple-slide.col-5 .arrow-right{right:15%;}
/*
.multiple-slide {position:relative; overflow:hidden; width:1644px; margin:100px auto 140px -332px;}
.multiple-slide h2 {margin-bottom:40px; font-size:24px; color:#000; text-align:center; line-height:1;}
.multiple-slide .swiper-container {height:410px; width:1660px;}
.multiple-slide .swiper-wrapper {margin:0 auto;}
.multiple-slide .swiper-slide {width:330px;}
.multiple-slide .swiper-slide a {display:block; width:316px; font-size:16px; color:#333; text-align:center;}
.multiple-slide .swiper-slide img {width:100%;}
.multiple-slide .swiper-slide span {display:block; padding:45px 16px 0 0; line-height:1.5;}
.multiple-slide .arrow-left,
.multiple-slide .arrow-right {position: absolute; top: 50%; z-index:10; margin-top: -20px; width: 40px; height: 40px; background: url(https://stimg.emart.com/store/images/new/main/main_slide_arrow.png) no-repeat;}
.multiple-slide .arrow-left {left: 250px; background-position:0 0;}
.multiple-slide .arrow-right {right: 250px; background-position: 100% 0;}
.multiple-slide .arrow-left.active {background-position:0 100%;}
.multiple-slide .arrow-right.active {background-position: 100% 100%;}
*/

/* footer 팝업 */
.ft-popup-dim {display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);z-index: 1000;line-height: normal !important;}
.ft-popup-wrap {width: 648px;background: #fff;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;padding: 80px;box-sizing: border-box;}
.ft-popup-wrap h1 {position: relative;font-size: 28px;color: #000;font-weight: normal;}
.ft-popup-wrap h1 span {position: relative;display: inline-block;}
.ft-popup-wrap h1 br + span {margin-top: 10px;}
.ft-popup-wrap h1 span:after {position: absolute;left: 0;bottom: -4px;width: 100%;height: 2px;background: #000;content: '';}
.ft-popup-wrap .step-info {margin-top: 70px;}
.ft-popup-wrap .step-info li {position: relative;font-size: 20px;color: #727272;padding-left: 38px;letter-spacing: -1.25px;}
.ft-popup-wrap .step-info li + li {margin-top: 18px;}
.ft-popup-wrap .step-info i {position: absolute;left: 0;top: 3px;font-style: normal;width: 26px;height: 26px;border-radius: 50%;background: #000;font-size: 16px;color: #fff;text-align: center;margin-right: 10px;}
.ft-popup-wrap .step-info em {color: #000;}
.ft-popup-wrap .ft-popup-link {position: absolute;left: 0;width: 100%;bottom: 80px;text-align: center;}
.ft-popup-wrap .ft-popup-link a {display: inline-block;padding: 0 28px;margin: auto;height: 72px;box-sizing: border-box;border: 2px solid #000;text-align: center;font-size: 18px;line-height: 72px;color: #000;}
.ft-popup-wrap .ft-popup-link a:hover, .ft-popup-link a:focus, .ft-popup-link a:active {text-decoration: none;color: #000;}
.ft-popup-close {position: absolute;right: 80px;top: 80px;width: 17px;height: 17px;}
.ft-popup-close:before, .ft-popup-close:after {position: absolute;left: 8px;top: -2px;content: ' ';height: 22px;width: 1px;background: #161616;}
.ft-popup-close:before {transform: rotate(45deg);}
.ft-popup-close:after {transform: rotate(-45deg);}
.ft-arrow {position: relative;top: -2px;border: solid black;border-width: 0 2px 2px 0;display: inline-block;padding: 4px;}
.ft-right {transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}

/* 전기차충전기 신청 */
.content-top.charging-station-top {
    height:222px;
    padding-top:130px;
    background-image:url(https://stimg.emart.com/store/images/charging_station/visual_charging_station.png);
    background-position:50% 0;
    background-repeat:no-repeat;
}

.content-top.charging-station-top .title,
.content-top.charging-station-top p {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left:30px;
    text-align: left;
}

.content-top.charging-station-top .title {
    margin-bottom:40px;
}

.content-top.charging-station-top p {
    letter-spacing: 0;
}

.button.apply-chargin-station {
    margin-right:6px;
    border:1px solid #e6c317;
    background:linear-gradient(to bottom, #ffe442 0px, #ffda29 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:-webkit-linear-gradient(top, #ffe442 0%, #ffda29 100%);
    background:#ffe032\0;
}

.regist-chargin-station .button_info {
    width:105px;
}

.regist-chargin-station .button_info.disabled {
    color:#b2b2b2;
}

.regist-chargin-station .select_wrap select {
    height:30px;
}

.regist-chargin-station select.disabled,
.regist-chargin-station input.disabled,
.regist-chargin-station textarea.disabled {color:b2b2b2;}
/* 전기차충전기 신청 */